#matchesPlayed {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
#matchesWon {
  width: 100%;
  height: 700px;
  margin: 200px auto auto auto;
}
#runsConceded {
  width: 100%;
  height: 400px;
  margin: 200px auto auto auto;
}
#topEconomical{
  width: 100%;
  height: 400px;
  margin: 200px auto auto auto;
}
